.pricing {
    margin: 5rem 3rem;
    text-align: center;
}

.pricing-heading {
    margin: 2rem auto;

}

.card-container {
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    grid-gap: 40px;
}

.card {
    background: #2a2a2aa5;
    padding: 2rem;
    align-items: center;
    text-align: center;
    border-radius: 1rem ;
    transition: 0.3s ease;
}

.card:hover {
    scale: 1.02;
    background-color: #38003857;
    box-shadow: 0 0 10px 2px #98019884;

}

.card .bar {
    background-color: #fff;
    display: block;
    margin: auto;
    width: 55%;
    height: 0.5%;
    margin-bottom: 1rem;
}

.card h2 {
    color: aqua;
    font-size: 1.8rem;
    margin: 0.8rem ;
}

.card .btc {
    font-size: 2rem;
    font-weight: 600;
}

.card p {
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.671);
}

.btn {
    width: 80%;
    margin:1.2rem auto;
    display: block;
    border-radius: 1rem;
    
}

@media screen and (max-width: 800px) {

    .card-container {
        max-width: 600px;
        grid-template-columns: 1fr;
        
    }
    
}