:root {
    --background-color:  #121922;
    --foreground-color:  #232f41;
    --headingText-color: white;
    --normalText-color: rgba(255, 255, 255, 0.751);
    --hoverDiv-color: #38003890;
    --hoverGlow-color: #98019884;
    --secondary-color: #149ECA;
    --secondaryHover-color: rgba(255, 255, 255, 0.2);
    --btn-color: #02678977;
    --backgroundOpacity-color:  rgba(18, 25, 34, 0.735);
  }